.nav-bar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--nav-color);
}

.nav-bar h1 {
    text-align: center;
    margin: 0px;
    padding: 20px 0px 0px;
    color: var(--text-color);
}

.nav-bar p {
    margin: 0px auto 0px;
    text-align: center;
}

.nav-bar button {
    position: absolute;
    top: 10px;
    left: 10px;
}